.todoContainer{
    position: relative;
    height: 400px;
    width: 500px;
    padding: 15px 10px;
    margin: 15px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.todoContainer{
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todoInput{
    width: 200px;
    height: 25px;
    border: 1px solid #777;
}

.buttonCreate{
    width: 100px;
    height: 25px;
    background: hsl(0, 0%, 0%);
    border: none;
    color: #fff;
    cursor: pointer;
}

.buttonCreate:hover{
    background: hsl(0, 0%, 10%);
}

.todosContainer{
    margin-top: 20px;

}